* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

$font-color: #ffff;
$second-color: #FFE600;


.faq {
    background-color: #3D3C3F ;
    border-radius: 15px;
    
    h2 {
        color: $second-color;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    p {
        color: $font-color;
        margin-bottom: 1rem;
    }
}