* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-box {
    color: white;
    font-family: Mont;
    opacity: 0.5;
    border: 3px solid #A7A7A7;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 1.25;
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 20vh;
    width: 70%;
    margin-left: 20rem;
    display: flex;
    flex-direction: column;
    h2{
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 2rem;
        margin-left: 1rem;
    }
    p {
        font-size: 1.2rem;
        margin-left: 1rem;
        line-height: 1.8rem;
    }
}

