@use '../../Styles/abstract/colors.module';

.form {
    background: map-get(map-get($map: colors.$colors, $key: myGrey), 800);
    color: white;
    border-radius: 10px;
    padding: 1.5rem;
    width: 100%;

    .form__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        .form__balance {
            display: flex;
            align-items: center;
            gap: 5px;

            small {
                color: map-get(map-get($map: colors.$colors, $key: myGrey), 400);
            }
        }
    }

    .form__exchangeIcon {
        height: 2rem;
        width: 2rem;
        margin: 1.5rem auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: map-get(map-get($map: colors.$colors, $key: dark), 100);;

        .icon {
            border-radius: 50%;
            padding: 0.4rem;
        }
    }

    .fees {
        margin: 1.5rem 0;

    }

    .form__transfer {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
        font-weight: 100;
        letter-spacing: 2px;

        .form__fees {
            display: flex;
            align-items: center;

            .fees__text {
                flex-shrink: 0;
                margin-right: 5px;
            }

            .icon {
                height: 15px;
                width: 15px;
                color: map-get(map-get($map: colors.$colors, $key: myGrey), 400);
            }
        }
    }

    .form__submit {
        display: flex;
        justify-content: center;

        button {
            background-color: map-get(map-get($map: colors.$colors, $key: primary), 400);
            padding: 0.5rem 2rem;
            border-radius: 50px;
            border: none;
            cursor: pointer;
            box-shadow: 0px 0px 3px 0 map-get(map-get($map: colors.$colors, $key: primary), 100);
            transition: transform 200ms ease;

            &:hover {
                background-color: map-get(map-get($map: colors.$colors, $key: primary), 600);
                transform: scale(1.02);
            }
        }
    }
}