$colors: (
    primary: (
        100: #F6EDA2,
        200: #F2E57D,
        300: #EEDF68,
        400: #ebd832,
        500: #DFCB16,
        600: #BAA912,
        700: #95870F,
        800: #6F650B
    ),
    myGrey: (
        100: hsl(0, 0%, 96%),
        200: hsl(0, 0%, 90%),
        300: hsl(0, 0%, 76%),
        400: hsl(0, 0%, 65%),
        500: hsl(0, 0%, 57%),
        600: hsl(0, 0%, 50%),
        700: hsl(0, 0%, 43%),
        800: hsl(0, 0%, 36%),
    ),
    dark: (
        100: hsl(0, 0%, 15%),
    )
)